<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head data-th-replace="menu :: msghead"></head>
<body>
<nav data-th-replace="menu :: msgmenu"></nav>

<div class="container">
    <div class="card">
        <div class="card-body">
            <h4 class="card-title" data-th-text="${message.author}"></h4>
            <p class="card-text" data-th-text="${message.text}"></p>
            <p class="card-text" data-th-text="${message.creationDate}"></p>
            <p class="card-text" data-th-text="${message.id}"></p>
        </div>
    </div>
</div>
</body>
</html>
